<h1> New Cart </h1>
<%= form_for @cart, url: {action: "create"} do |f| %>


  <% if @cart.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cart.errors.count, "error") %> prohibited this cart from being saved:</h2>

      <ul>
      <% @cart.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<p><%= f.submit "Create cart" %> </p>
 <%end %>